body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 150%;
}

header{
  background-color: #afafaf;
}

nav{
  background-color: #afafaf;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

main{
  background-color: #f0f0f0;
  padding: 20px;
}

footer{
  background-color: #afafaf;
  text-align: center;
  padding: 10px;
}

li{
  display: inline-block;
  width: 100px;
}

h1{
  color: #010059;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

p{
  color: #010059;
  line-height: 1.5;
}